/* my css */

body {
    background: #222222;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.frame {
    height: 600px;
}

.frame #mynetwork {
    width: 100%;
    height: 600px;
    background-color: #111111;
    border: 0px;
    position: relative;
    float: left;
}

.title h1 {
    font-size: 60px;
    text-align: center;
    margin: 40px 0px;
    font-family: MyChinese;
}

@font-face {
    font-family: MyChinese;
    src: url(../font/wt071.ttf);
}

.view {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.view button {
    margin: 0px 20px;
    font-size: 20px;
}

.bi {
    margin-right: 10px;
}

.container {
    width: 60%;
    padding: 80px 0px;
}

@media screen and (max-width: 600px) {
    .container {
        width: 80%;
    } 
}

.container h2 {
    font-size: 40px;
    text-align: center;
    margin: 50px 0px;
}

.nav-link {
    border-bottom: 2px solid #ffffff;
    width: 50%;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #0d6efd #0d6efd #ffffff00;
    background-color: #ffffff00;
    isolation: isolate;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #ffffff;
  background-color: #0d6efd;
  border-color: #0d6efd #0d6efd #ffffff;
}

.table, .tab-pane p {
    color: #ffffff;
    margin: 20px 0px;
}

table, th, td {
    border: 1px solid #ffffff;
}

thead {
    font-weight: 700;
}

.number {
    color: #ffe81c
}

.table caption {
    caption-side: top;
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #008aff96;
}

.ref li {
    line-height: 40px;
}

.ref li a {
    color:#448fff;
}

.ref li a:hover {
    color:#0d6efd;
}

.footer {
    width: 100%;
    background: #0d6efd;
    padding: 15px 0px;
}

.info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px 0px;
}

.info p {
    margin: 10px 20px;
}

.copyright {
    font-size: 10px;
    text-align: center;
    margin: 15px 0px;
}

.slider {
    width: 70%;
    background-color: #c5c5c5;
    margin: 0px 40px;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}